<ion-view title="homeCoursePage" hide-nav-bar="true" id="homeCourse">
<!-- <ion-header-bar class="bar-stable">

        <h1 class="title">Aulas</h1><h2 class="title"  style="text-align:right;">5$</h2>

      </ion-header-bar> -->


<ion-header-bar align-title="center" class="bar-assertive">
  <div> </div>
  <h1 class="title">Aula atual</h1>
  <div class="buttons">
  
  <h1 class="button" class="button-image" src="img/pipe_2.png"> {{bitcoinsTotal}} </h1>
    <!-- <button class="button">Right Button</button>
        <ion-item collection-repeat="item in bitcoinsTotal">
    {{item}}
  </ion-item>
     -->
  </div>
</ion-header-bar>



  <ion-content padding="false" class=" manual-remove-top-padding has-header" >
    <h3 id="homeCourse-heading1" style="color:#000000;text-align:center;">{{className}}</h3>
     <div ng-click="goBackToCourse()">
      <img src="img/play_macaco.png"  style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page2-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{short_description}}</p>
    </div>

    <div class="spacer" style="width: 320px; height: 25px;"></div>
    <ion-list id="homeCourse-list5">
    <div ng-repeat="c in allCourses">
      <ion-item class="item-thumbnail-left item-icon-right" id="{{c.level}}" ng-click="courseManager({{c.level}})">
        <img src="{{c.img}}">
        <h2>{{c.name}}  -  {{c.price}}b$</h2>
        <p style="white-space:normal;">{{c.short_description}}</p>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>