<ion-view title="homeCoursePage" hide-nav-bar="true" id="homeCourse">
<!-- <ion-header-bar class="bar-stable">

        <h1 class="title">Aulas</h1><h2 class="title"  style="text-align:right;">5$</h2>

      </ion-header-bar> -->


<ion-header-bar align-title="center" class="bar-assertive">
  <div> </div>
  <h1 class="title">Aulas</h1>
  <div class="buttons">
  
  <h1 class="button" class="button-image" src="img/pipe_2.png">5 b$</h1>
    <!-- <button class="button">Right Button</button> -->
  </div>
</ion-header-bar>



  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
    <h3 id="homeCourse-heading1" style="color:#000000;text-align:center;">Curso daora de bitcoin</h3>
     <div>
      <img src="img/play_macaco.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page2-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Explicacao sobre a aula</p>
    </div>
    <div class="spacer" style="width: 320px; height: 25px;"></div>
    <ion-list id="homeCourse-list5">
      <ion-item class="item-thumbnail-left item-icon-right" id="homeCourse-list-item10">
        <img src="img/opengraph.png">
        <h2>Bitcoin - b$0.1</h2>
        <p style="white-space:normal;">Curso básico de bitcoin e aplicações</p>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="homeCourse-list-item11">
        <img src="img/avancadoBitcoin.jpg">
        <h2>Bitcoin 2 - b$0.4</h2>
        <p style="white-space:normal;">Curso avancado de bitcoin e aplicações</p>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="homeCourse-list-item15">
        <img src="img/blockchain.png">
        <h2>Block Chain 1 - b$0.4</h2>
        <p style="white-space:normal;">Curso basico de blockchain</p>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>